
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9dd6dd; 
    
}


 .caixa{
     width: 50%;           
    height: 500px;          
    background: linear-gradient(aqua, #ffffff) ; 
    box-shadow: 5 25px 20px rgba(5, 5, 5, 0.1); 
    border-radius: 5%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
     
        & .dentro{
            font-size: 40px;
            padding: 5%;
        }
        & .paragrafo{
            font-size: 77%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            
        }

}
 
.imag{
    width: auto;
    height: 60%;
   
 }